body {
    display: flex;
    gap: 3rem;
    padding: 0 10%;
    padding-top: 200px;
    min-height: 100vh;
}

aside {
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 10px;

    h1 {
        font-size: 3rem;
    }

    .button {
        margin-top: auto;
    }
}

main {
    img {
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        max-height: 500px;
    }
}